*.pkl
*.path
*.log
IL_*
CL_*
cptl_with_social_gr/results/
cptl_with_social_gr/plots/
cptl_with_social_gr/runs/
cptl_with_social_gr/ETH/
cptl_with_social_gr/UCY/
cptl_with_social_gr/inD/
cptl_with_social_gr/INTERACTION/
cptl_with_social_gr/data_preprocessed/

# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
